PyCitySchools Analysis:
- Charter schools significantly outperformed District Schools in their Overall Passing Rates.
- Small and medium sized schools, regardless of their per student budgets significantly outperform large sized schools
- The top performing schools tend to be the ones that do not spend as much money on their students (budget/student size ratio).

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete_20181003.csv"
student_data_to_load = "Resources/students_complete_20181003.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
school_data_complete["school_name"].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [4]:
total_schools = len(school_data_complete["school_name"].unique())
total_schools

15

In [5]:
school_data_complete["Student ID"].head()

0    0
1    1
2    2
3    3
4    4
Name: Student ID, dtype: int64

In [6]:
school_data_complete["Student ID"].value_counts()

2047     1
27975    1
9550     1
15693    1
13644    1
3403     1
1354     1
7497     1
5448     1
25926    1
38264    1
32069    1
30020    1
19779    1
17730    1
23873    1
21824    1
36155    1
11599    1
38232    1
34138    1
36187    1
9582     1
15725    1
13676    1
3435     1
1386     1
7529     1
5480     1
28007    1
        ..
14994    1
8849     1
10896    1
37511    1
33413    1
35460    1
21119    1
23166    1
17021    1
19068    1
27288    1
31386    1
27320    1
29339    1
4791     1
6838     1
693      1
2740     1
12979    1
15026    1
8881     1
10928    1
37543    1
33445    1
35492    1
21151    1
23198    1
17053    1
19100    1
0        1
Name: Student ID, Length: 39170, dtype: int64

In [7]:
total_students = len(school_data_complete["Student ID"].unique())
total_students

39170

In [8]:
schools_budgets = school_data_complete[["school_name","budget"]]
schools_budgets.head()

         school_name   budget
0  Huang High School  1910635
1  Huang High School  1910635
2  Huang High School  1910635
3  Huang High School  1910635
4  Huang High School  1910635

In [9]:
unique_school = schools_budgets.drop_duplicates(['school_name'])
unique_school.head()

                 school_name   budget
0          Huang High School  1910635
2917    Figueroa High School  1884411
5866     Shelton High School  1056600
7627   Hernandez High School  3022020
12262    Griffin High School   917500

In [10]:
school_bud_sum = unique_school['budget'].sum()
school_bud_sum

24649428

In [11]:
total_math = school_data_complete['math_score'].sum()
total_math

3093857

In [12]:
avg_math_score = total_math / total_students
avg_math_score

78.98537145774827

In [13]:
total_reading = school_data_complete['reading_score'].sum()
total_reading

3207155

In [14]:
avg_reading_score = total_reading / total_students
avg_reading_score

81.87784018381414

In [15]:
math_students = school_data_complete[['Student ID','math_score']]
math_students.head()

   Student ID  math_score
0           0          79
1           1          61
2           2          60
3           3          58
4           4          84

In [16]:
passing_math = math_students.loc[math_students['math_score'] > 69,['Student ID','math_score']]
passing_math.head()

   Student ID  math_score
0           0          79
4           4          84
5           5          94
6           6          80
8           8          87

In [17]:
passing_math_gross = len(passing_math["Student ID"].unique())
passing_math_gross

29370

In [18]:
passing_math_pct = (passing_math_gross / total_students) *100
passing_math_pct

74.9808526933878

In [19]:
reading_students = school_data_complete[['Student ID','reading_score']]
reading_students.head()

   Student ID  reading_score
0           0             66
1           1             94
2           2             90
3           3             67
4           4             97

In [20]:
passing_reading = reading_students.loc[reading_students['reading_score'] > 69,['Student ID','reading_score']]
passing_reading.head()

   Student ID  reading_score
1           1             94
2           2             90
4           4             97
5           5             94
6           6             82

In [21]:
passing_reading_gross = len(passing_reading["Student ID"].unique())
passing_reading_gross

33610

In [22]:
passing_reading_pct = (passing_reading_gross / total_students) *100
passing_reading_pct

85.80546336482001

In [23]:
overall_passing_pct = (avg_math_score + avg_reading_score)/2
overall_passing_pct

80.43160582078121

District Summary:

In [24]:
district_summary = pd.DataFrame({
    'Total Schools':total_schools,'Total Students':total_students,
    'Total Budget':school_bud_sum,'Average Math Score':avg_math_score,
    'Average Reading Score':avg_reading_score,'% Passing Math':passing_math_pct,
    '% Passing Reading':passing_reading_pct,'% Overall Passing Rate':overall_passing_pct
},index=[0])
district_summary.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [25]:
school_name_counts = school_data_complete["school_name"].value_counts()
school_name_counts.head()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school_name, dtype: int64

In [26]:
grouped_school_name = school_data_complete.groupby(['school_name'])
print(grouped_school_name)
grouped_school_name.count().head(15)

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x0000028D7C6DC320>

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [27]:
grouped_school_budget = grouped_school_name["budget"].mean()
grouped_school_budget.head()

school_name
Bailey High School      3124928
Cabrera High School     1081356
Figueroa High School    1884411
Ford High School        1763916
Griffin High School      917500
Name: budget, dtype: int64

In [28]:
grouped_per_student_bud = grouped_school_budget / school_name_counts
grouped_per_student_bud

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [29]:
grouped_math_score = grouped_school_name["math_score"].mean()
grouped_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [30]:
grouped_school_name.nunique().head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,,
Bailey High School,4976,4799,2,4,1,37,45,1,1,1,1
Cabrera High School,1858,1834,2,4,1,31,32,1,1,1,1
Figueroa High School,2949,2886,2,4,1,37,45,1,1,1,1
Ford High School,2739,2676,2,4,1,37,45,1,1,1,1
Griffin High School,1468,1449,2,4,1,31,32,1,1,1,1

In [31]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [32]:
school_type = grouped_school_name['type'].unique()
school_type

school_name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: type, dtype: object

In [33]:
grouped_reading_score = grouped_school_name["reading_score"].mean()
grouped_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [34]:
pass_math = (school_data_complete['math_score']>69).count()
pass_math

39170

In [35]:
school_data_complete["is_math_passed"] = school_data_complete['math_score']>69

In [36]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,is_math_passed
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True

In [37]:
math_pass_pct = school_data_complete.groupby('school_name')['is_math_passed'].mean()
math_pass_pct

school_name
Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
Name: is_math_passed, dtype: float64

In [38]:
school_data_complete["is_reading_passed"] = school_data_complete['reading_score']>69

In [39]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,is_math_passed,is_reading_passed
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True

In [40]:
reading_pass_pct = school_data_complete.groupby('school_name')['is_reading_passed'].mean()
reading_pass_pct

school_name
Bailey High School       0.819333
Cabrera High School      0.970398
Figueroa High School     0.807392
Ford High School         0.792990
Griffin High School      0.971390
Hernandez High School    0.808630
Holden High School       0.962529
Huang High School        0.813164
Johnson High School      0.812224
Pena High School         0.959459
Rodriguez High School    0.802201
Shelton High School      0.958546
Thomas High School       0.973089
Wilson High School       0.965396
Wright High School       0.966111
Name: is_reading_passed, dtype: float64

In [41]:
student_overall_passing_pct = (math_pass_pct + reading_pass_pct)/2
student_overall_passing_pct

school_name
Bailey High School       0.743067
Cabrera High School      0.955867
Figueroa High School     0.733639
Ford High School         0.738043
Griffin High School      0.952657
Hernandez High School    0.738080
Holden High School       0.943794
Huang High School        0.735002
Johnson High School      0.736400
Pena High School         0.952703
Rodriguez High School    0.732933
Shelton High School      0.948609
Thomas High School       0.952905
Wilson High School       0.952037
Wright High School       0.949722
dtype: float64

In [42]:
#def greater_than_69(x):
#    return((x > 69).tolist())
#grouped_school_name.agg({"math_score":greater_than_69})

In [43]:
#def greater_than_69(x):
#    return(np.sum(x > 69))
#grouped_school_name.agg({"math_score":greater_than_69})

In [44]:
school_summary_table = pd.DataFrame({"Number of Students": school_name_counts,
                                     #"School Type": type,
                                     "Total School Budget": grouped_school_budget,
                                     "Per Student Budget": grouped_per_student_bud,
                                     "Average Math Score": grouped_math_score,
                                     "Average Reading Score": grouped_reading_score,
                                     "% Passing Math": math_pass_pct,
                                     "% Passing Reading": reading_pass_pct,
                                     "Overall Passing %": student_overall_passing_pct
                                    })
school_summary_table

,Number of Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing %
Bailey High School,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.743067
Cabrera High School,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867
Figueroa High School,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639
Ford High School,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043
Griffin High School,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657
Hernandez High School,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.738080
Holden High School,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.943794
Huang High School,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002
Johnson High School,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400
Pena High School,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703
Rodriguez High School,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933
Shelton High School,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.948609
Thomas High School,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905
Wilson High School,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037
Wright High School,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.949722

In [45]:
school_summary_table["type"] = school_type.map(lambda x: x[0])

In [46]:
school_type.map(lambda x: x[0])

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [47]:
school_summary_table

,Number of Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing %,type
Bailey High School,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.743067,District
Cabrera High School,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867,Charter
Figueroa High School,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639,District
Ford High School,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043,District
Griffin High School,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657,Charter
Hernandez High School,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.738080,District
Holden High School,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.943794,Charter
Huang High School,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002,District
Johnson High School,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400,District
Pena High School,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703,Charter
Rodriguez High School,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933,District
Shelton High School,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.948609,Charter
Thomas High School,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905,Charter
Wilson High School,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037,Charter
Wright High School,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.949722,Charter

In [48]:
sort_by_overall_desc= school_summary_table.sort_values('Overall Passing %',ascending=False)
#print(sort_by_overall_desc)
sort_by_overall_desc.head(n=5)

,Number of Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing %,type
Cabrera High School,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867,Charter
Thomas High School,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905,Charter
Pena High School,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703,Charter
Griffin High School,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657,Charter
Wilson High School,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037,Charter

In [49]:
sort_by_overall_asc= school_summary_table.sort_values('Overall Passing %')
#print(sort_by_overall_asc)
sort_by_overall_asc.head(n=5)

,Number of Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing %,type
Rodriguez High School,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933,District
Figueroa High School,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639,District
Huang High School,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002,District
Johnson High School,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400,District
Ford High School,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043,District

In [50]:
#school_data_complete.head()
ninth_math = school_data_complete.loc[school_data_complete['grade']=='9th',["school_name","math_score"]]
ninth_math.head()

          school_name  math_score
0   Huang High School          79
4   Huang High School          84
5   Huang High School          94
12  Huang High School          79
13  Huang High School          79

In [51]:
tenth_math = school_data_complete.loc[school_data_complete['grade']=='10th',["school_name","math_score"]]
tenth_math.head()

          school_name  math_score
8   Huang High School          87
9   Huang High School          84
10  Huang High School          70
11  Huang High School          77
14  Huang High School          67

In [52]:
eleventh_math = school_data_complete.loc[school_data_complete['grade']=='11th',["school_name","math_score"]]
eleventh_math.head()

          school_name  math_score
6   Huang High School          80
15  Huang High School          88
22  Huang High School          84
24  Huang High School          73
28  Huang High School          55

In [53]:
twelfth_math = school_data_complete.loc[school_data_complete['grade']=='12th',["school_name","math_score"]]
twelfth_math.head()

          school_name  math_score
1   Huang High School          61
2   Huang High School          60
3   Huang High School          58
7   Huang High School          69
29  Huang High School          88

In [54]:
group_ninth_math = ninth_math.groupby(['school_name'],as_index=False)
print(group_ninth_math)
group_ninth_math.mean()

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x0000028D7D0320B8>

              school_name  math_score
0      Bailey High School   77.083676
1     Cabrera High School   83.094697
2    Figueroa High School   76.403037
3        Ford High School   77.361345
4     Griffin High School   82.044010
5   Hernandez High School   77.438495
6      Holden High School   83.787402
7       Huang High School   77.027251
8     Johnson High School   77.187857
9        Pena High School   83.625455
10  Rodriguez High School   76.859966
11    Shelton High School   83.420755
12     Thomas High School   83.590022
13     Wilson High School   83.085578
14     Wright High School   83.264706

In [55]:
group_tenth_math = tenth_math.groupby(['school_name'],as_index=False)
print(group_tenth_math)
group_tenth_math.mean()

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x0000028D7D032BA8>

              school_name  math_score
0      Bailey High School   76.996772
1     Cabrera High School   83.154506
2    Figueroa High School   76.539974
3        Ford High School   77.672316
4     Griffin High School   84.229064
5   Hernandez High School   77.337408
6      Holden High School   83.429825
7       Huang High School   75.908735
8     Johnson High School   76.691117
9        Pena High School   83.372000
10  Rodriguez High School   76.612500
11    Shelton High School   82.917411
12     Thomas High School   83.087886
13     Wilson High School   83.724422
14     Wright High School   84.010288

In [56]:
group_eleventh_math = eleventh_math.groupby(['school_name'],as_index=False)
print(group_eleventh_math)
group_eleventh_math.mean()

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x0000028D7D038198>

              school_name  math_score
0      Bailey High School   77.515588
1     Cabrera High School   82.765560
2    Figueroa High School   76.884344
3        Ford High School   76.918058
4     Griffin High School   83.842105
5   Hernandez High School   77.136029
6      Holden High School   85.000000
7       Huang High School   76.446602
8     Johnson High School   77.491653
9        Pena High School   84.328125
10  Rodriguez High School   76.395626
11    Shelton High School   83.383495
12     Thomas High School   83.498795
13     Wilson High School   83.195326
14     Wright High School   83.836782

In [57]:
group_twelfth_math = twelfth_math.groupby(['school_name'])
print(group_twelfth_math)
group_twelfth_math.mean()

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x0000028D7D038C88>

                       math_score
school_name
Bailey High School      76.492218
Cabrera High School     83.277487
Figueroa High School    77.151369
Ford High School        76.179963
Griffin High School     83.356164
Hernandez High School   77.186567
Holden High School      82.855422
Huang High School       77.225641
Johnson High School     76.863248
Pena High School        84.121547
Rodriguez High School   77.690748
Shelton High School     83.778976
Thomas High School      83.497041
Wilson High School      83.035794
Wright High School      83.644986

In [58]:
only_ninth_math = school_data_complete.loc[school_data_complete['grade']=='9th',["math_score"]]
only_ninth_math.head()

    math_score
0           79
4           84
5           94
12          79
13          79

In [59]:
only_tenth_math = school_data_complete.loc[school_data_complete['grade']=='10th',["math_score"]]
only_tenth_math.head()

    math_score
8           87
9           84
10          70
11          77
14          67

In [60]:
only_eleventh_math = school_data_complete.loc[school_data_complete['grade']=='11th',["math_score"]]
only_eleventh_math.head()

    math_score
6           80
15          88
22          84
24          73
28          55

In [61]:
only_twelfth_math = school_data_complete.loc[school_data_complete['grade']=='12th',["math_score"]]
only_twelfth_math.head()

    math_score
1           61
2           60
3           58
7           69
29          88

In [62]:
only_school_name = school_data_complete.loc[school_data_complete['school_name']=='12th',["math_score"]]
only_twelfth_math.head()

    math_score
1           61
2           60
3           58
7           69
29          88

In [63]:
school_grade_df = pd.concat([only_ninth_math,only_tenth_math,\
                            only_eleventh_math,only_twelfth_math],axis=1)
school_grade_df.head()

   math_score  math_score  math_score  math_score
0        79.0         NaN         NaN         NaN
1         NaN         NaN         NaN        61.0
2         NaN         NaN         NaN        60.0
3         NaN         NaN         NaN        58.0
4        84.0         NaN         NaN         NaN

In [64]:
average_math = school_data_complete["math_score"].mean()
average_math

78.98537145774827

In [65]:
school_math_group = school_data_complete.groupby('school_name')
average_math_school = pd.DataFrame(school_math_group['math_score'].mean())
average_math_school.head()

                      math_score
school_name
Bailey High School     77.048432
Cabrera High School    83.061895
Figueroa High School   76.711767
Ford High School       77.102592
Griffin High School    83.351499

In [66]:
school_data_group = school_data_complete.groupby(['school_name','grade'])
print(school_data)
group_twelfth_math.mean()

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

                       math_score
school_name
Bailey High School      76.492218
Cabrera High School     83.277487
Figueroa High School    77.151369
Ford High School        76.179963
Griffin High School     83.356164
Hernandez High School   77.186567
Holden High School      82.855422
Huang High School       77.225641
Johnson High School     76.863248
Pena High School        84.121547
Rodriguez High School   77.690748
Shelton High School     83.778976
Thomas High School      83.497041
Wilson High School      83.035794
Wright High School      83.644986

Math Scores by Grade

In [67]:
math_score_by_grade = school_data_complete.groupby(["school_name","grade"]).\
mean()["math_score"].reset_index().\
pivot(index='school_name',columns='grade',values='math_score')
math_score_by_grade

grade                       10th       11th       12th        9th
school_name
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

Reading Score by Grade:

In [68]:
reading_score_by_grade = school_data_complete.groupby(["school_name","grade"]).\
mean()["reading_score"].reset_index().\
pivot(index='school_name',columns='grade',values='reading_score')
reading_score_by_grade

grade                       10th       11th       12th        9th
school_name
Bailey High School     80.907183  80.945643  80.912451  81.303155
Cabrera High School    84.253219  83.788382  84.287958  83.676136
Figueroa High School   81.408912  80.640339  81.384863  81.198598
Ford High School       81.262712  80.403642  80.662338  80.632653
Griffin High School    83.706897  84.288089  84.013699  83.369193
Hernandez High School  80.660147  81.396140  80.857143  80.866860
Holden High School     83.324561  83.815534  84.698795  83.677165
Huang High School      81.512386  81.417476  80.305983  81.290284
Johnson High School    80.773431  80.616027  81.227564  81.260714
Pena High School       83.612000  84.335938  84.591160  83.807273
Rodriguez High School  80.629808  80.864811  80.376426  80.993127
Shelton High School    83.441964  84.373786  82.781671  84.122642
Thomas High School     84.254157  83.585542  83.831361  83.728850
Wilson High School     84.021452  83.764608  84.317673  83.939778
Wright High School     83.812757  84.156322  84.073171  83.833333

In [69]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,is_math_passed,is_reading_passed
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True

In [70]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget',
       'is_math_passed', 'is_reading_passed'],
      dtype='object')

In [71]:
school_data_complete["Per Student Spending"]=(school_data_complete['budget']/\
school_data_complete['size'])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,is_math_passed,is_reading_passed,Per Student Spending
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False,655.0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True,655.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True,655.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False,655.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True,655.0
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,True,True,655.0
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,True,True,655.0
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635,False,True,655.0
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,True,True,655.0
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635,True,True,655.0
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635,True,True,655.0
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635,True,True,655.0
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635,True,False,655.0
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635,True,True,655.0
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635,False,True,655.0
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635,True,True,655.0
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635,False,True,655.0
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635,True,True,655.0
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635,False,False,655.0
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635,True,True,655.0
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635,True,True,655.0
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635,True,True,655.0
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635,True,True,655.0
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635,False,True,655.0
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635,True,True,655.0
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635,True,True,655.0
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635,True,False,655.0
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635,False,True,655.0
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635,False,True,655.0
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635,True,True,655.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130,True,True,638.0
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130,True,True,638.0
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130,True,True,638.0
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130,True,True,638.0
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130,True,True,638.0
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130,True,True,638.0
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130,True,False,638.0
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130,True,True,638.0
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130,True,True,638.0
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130,True,True,638.0
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130,True,True,638.0
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130,True,True,638.0
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130,True,True,638.0
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130,True,True,638.0
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130,True,True,638.0
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130,True,True,638.0
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130,True,True,638.0
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130,True,True,638.0
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130,True,True,638.0
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130,True,True,638.0
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130,True,True,638.0
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130,True,True,638.0
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130,True,True,638.0
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130,True,True,638.0
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130,True,True,638.0
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,638.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True,638.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True,638.0
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,638.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True,638.0

In [72]:
school_data_complete["Average Math Score"]=(school_data_complete['math_score']/\
school_data_complete['size'])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,is_math_passed,is_reading_passed,Per Student Spending,Average Math Score
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False,655.0,0.027083
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True,655.0,0.020912
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True,655.0,0.020569
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False,655.0,0.019883
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True,655.0,0.028797
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,True,True,655.0,0.032225
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,True,True,655.0,0.027425
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635,False,True,655.0,0.023654
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,True,True,655.0,0.029825
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635,True,True,655.0,0.028797
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635,True,True,655.0,0.023997
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635,True,True,655.0,0.026397
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635,True,False,655.0,0.027083
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635,True,True,655.0,0.027083
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635,False,True,655.0,0.022969
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635,True,True,655.0,0.030168
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635,False,True,655.0,0.018855
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635,True,True,655.0,0.025711
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635,False,False,655.0,0.023654
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635,True,True,655.0,0.027425
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635,True,True,655.0,0.030511
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635,True,True,655.0,0.026397
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635,True,True,655.0,0.028797
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635,False,True,655.0,0.023312
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635,True,True,655.0,0.025026
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635,True,True,655.0,0.023997
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635,True,False,655.0,0.029140
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635,False,True,655.0,0.019883
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635,False,True,655.0,0.018855
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635,True,True,655.0,0.030168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130,True,True,638.0,0.060550
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130,True,True,638.0,0.056881
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130,True,True,638.0,0.050765
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130,True,True,638.0,0.056881
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130,True,True,638.0,0.053211
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130,True,True,638.0,0.045260
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130,True,False,638.0,0.058104
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130,True,True,638.0,0.049541
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130,True,True,638.0,0.054434
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130,True,True,638.0,0.056881
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130,True,True,638.0,0.045872
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130,True,True,638.0,0.044648
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130,True,True,638.0,0.051376
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130,True,True,638.0,0.045872
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130,True,True,638.0,0.043425
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130,True,True,638.0,0.059939
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130,True,True,638.0,0.058104
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130,True,True,638.0,0.057492
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130,True,True,638.0,0.055046
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130,True,True,638.0,0.044037
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130,True,True,638.0,0.052599
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130,True,True,638.0,0.051376
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130,True,True,638.0,0.047095
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130,True,True,638.0,0.045872
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130,True,True,638.0,0.046483
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,638.0,0.055046
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True,638.0,0.042813
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True,638.0,0.051376
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,638.0,0.055046
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True,638.0,0.045872

In [73]:
school_data_complete["Average Reading Score"]=(school_data_complete['reading_score']/\
school_data_complete['size'])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,is_math_passed,is_reading_passed,Per Student Spending,Average Math Score,Average Reading Score
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False,655.0,0.027083,0.022626
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True,655.0,0.020912,0.032225
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True,655.0,0.020569,0.030854
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False,655.0,0.019883,0.022969
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True,655.0,0.028797,0.033253
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,True,True,655.0,0.032225,0.032225
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,True,True,655.0,0.027425,0.028111
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635,False,True,655.0,0.023654,0.032911
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,True,True,655.0,0.029825,0.032568
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635,True,True,655.0,0.028797,0.032911
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635,True,True,655.0,0.023997,0.030854
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635,True,True,655.0,0.026397,0.026740
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635,True,False,655.0,0.027083,0.021940
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635,True,True,655.0,0.027083,0.024340
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635,False,True,655.0,0.022969,0.029140
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635,True,True,655.0,0.030168,0.032225
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635,False,True,655.0,0.018855,0.030168
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635,True,True,655.0,0.025711,0.025369
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635,False,False,655.0,0.023654,0.021940
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635,True,True,655.0,0.027425,0.030511
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635,True,True,655.0,0.030511,0.031196
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635,True,True,655.0,0.026397,0.030854
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635,True,True,655.0,0.028797,0.033939
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635,False,True,655.0,0.023312,0.027768
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635,True,True,655.0,0.025026,0.029140
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635,True,True,655.0,0.023997,0.031539
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635,True,False,655.0,0.029140,0.021598
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635,False,True,655.0,0.019883,0.027425
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635,False,True,655.0,0.018855,0.025026
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635,True,True,655.0,0.030168,0.030854
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130,True,True,638.0,0.060550,0.046483
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130,True,True,638.0,0.056881,0.052599
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130,True,True,638.0,0.050765,0.058716
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130,True,True,638.0,0.056881,0.043425
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130,True,True,638.0,0.053211,0.047095
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130,True,True,638.0,0.045260,0.057492
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130,True,False,638.0,0.058104,0.042202
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130,True,True,638.0,0.049541,0.053823
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130,True,True,638.0,0.054434,0.054434
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130,True,True,638.0,0.056881,0.050153
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130,True,True,638.0,0.045872,0.048930
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130,True,True,638.0,0.044648,0.051376
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130,True,True,638.0,0.051376,0.059939
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130,True,True,638.0,0.045872,0.048930
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130,True,True,638.0,0.043425,0.055657
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130,True,True,638.0,0.059939,0.056269
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130,True,True,638.0,0.058104,0.048318
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130,True,True,638.0,0.057492,0.048318
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130,True,True,638.0,0.055046,0.053211
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130,True,True,638.0,0.044037,0.051988
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130,True,True,638.0,0.052599,0.054434
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130,True,True,638.0,0.051376,0.042813
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130,True,True,638.0,0.047095,0.057492
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130,True,True,638.0,0.045872,0.055046
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130,True,True,638.0,0.046483,0.059327
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,638.0,0.055046,0.060550
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True,638.0,0.042813,0.058104
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True,638.0,0.051376,0.044648
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,638.0,0.055046,0.060550
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True,638.0,0.045872,0.058104

In [74]:
school_data_complete["% Passing Math"]=(school_data_complete['is_math_passed'].mean())
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,is_math_passed,is_reading_passed,Per Student Spending,Average Math Score,Average Reading Score,% Passing Math
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False,655.0,0.027083,0.022626,0.749809
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True,655.0,0.020912,0.032225,0.749809
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True,655.0,0.020569,0.030854,0.749809
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False,655.0,0.019883,0.022969,0.749809
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True,655.0,0.028797,0.033253,0.749809
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,True,True,655.0,0.032225,0.032225,0.749809
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,True,True,655.0,0.027425,0.028111,0.749809
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635,False,True,655.0,0.023654,0.032911,0.749809
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,True,True,655.0,0.029825,0.032568,0.749809
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635,True,True,655.0,0.028797,0.032911,0.749809
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635,True,True,655.0,0.023997,0.030854,0.749809
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635,True,True,655.0,0.026397,0.026740,0.749809
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635,True,False,655.0,0.027083,0.021940,0.749809
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635,True,True,655.0,0.027083,0.024340,0.749809
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635,False,True,655.0,0.022969,0.029140,0.749809
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635,True,True,655.0,0.030168,0.032225,0.749809
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635,False,True,655.0,0.018855,0.030168,0.749809
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635,True,True,655.0,0.025711,0.025369,0.749809
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635,False,False,655.0,0.023654,0.021940,0.749809
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635,True,True,655.0,0.027425,0.030511,0.749809
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635,True,True,655.0,0.030511,0.031196,0.749809
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635,True,True,655.0,0.026397,0.030854,0.749809
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635,True,True,655.0,0.028797,0.033939,0.749809
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635,False,True,655.0,0.023312,0.027768,0.749809
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635,True,True,655.0,0.025026,0.029140,0.749809
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635,True,True,655.0,0.023997,0.031539,0.749809
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635,True,False,655.0,0.029140,0.021598,0.749809
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635,False,True,655.0,0.019883,0.027425,0.749809
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635,False,True,655.0,0.018855,0.025026,0.749809
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635,True,True,655.0,0.030168,0.030854,0.749809
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130,True,True,638.0,0.060550,0.046483,0.749809
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130,True,True,638.0,0.056881,0.052599,0.749809
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130,True,True,638.0,0.050765,0.058716,0.749809
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130,True,True,638.0,0.056881,0.043425,0.749809
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130,True,True,638.0,0.053211,0.047095,0.749809
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130,True,True,638.0,0.045260,0.057492,0.749809
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130,True,False,638.0,0.058104,0.042202,0.749809
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130,True,True,638.0,0.049541,0.053823,0.749809
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130,True,True,638.0,0.054434,0.054434,0.749809
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130,True,True,638.0,0.056881,0.050153,0.749809
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130,True,True,638.0,0.045872,0.048930,0.749809
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130,True,True,638.0,0.044648,0.051376,0.749809
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130,True,True,638.0,0.051376,0.059939,0.749809
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130,True,True,638.0,0.045872,0.048930,0.749809
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130,True,True,638.0,0.043425,0.055657,0.749809
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130,True,True,638.0,0.059939,0.056269,0.749809
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130,True,True,638.0,0.058104,0.048318,0.749809
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130,True,True,638.0,0.057492,0.048318,0.749809
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130,True,True,638.0,0.055046,0.053211,0.749809
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130,True,True,638.0,0.044037,0.051988,0.749809
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130,True,True,638.0,0.052599,0.054434,0.749809
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130,True,True,638.0,0.051376,0.042813,0.749809
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130,True,True,638.0,0.047095,0.057492,0.749809
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130,True,True,638.0,0.045872,0.055046,0.749809
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130,True,True,638.0,0.046483,0.059327,0.749809
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,638.0,0.055046,0.060550,0.749809
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True,638.0,0.042813,0.058104,0.749809
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True,638.0,0.051376,0.044648,0.749809
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,638.0,0.055046,0.060550,0.749809
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True,638.0,0.045872,0.058104,0.749809

In [75]:
school_data_complete["% Passing Reading"]=(school_data_complete['is_reading_passed'].mean())
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,is_math_passed,is_reading_passed,Per Student Spending,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False,655.0,0.027083,0.022626,0.749809,0.858055
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True,655.0,0.020912,0.032225,0.749809,0.858055
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True,655.0,0.020569,0.030854,0.749809,0.858055
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False,655.0,0.019883,0.022969,0.749809,0.858055
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True,655.0,0.028797,0.033253,0.749809,0.858055
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,True,True,655.0,0.032225,0.032225,0.749809,0.858055
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,True,True,655.0,0.027425,0.028111,0.749809,0.858055
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635,False,True,655.0,0.023654,0.032911,0.749809,0.858055
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,True,True,655.0,0.029825,0.032568,0.749809,0.858055
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635,True,True,655.0,0.028797,0.032911,0.749809,0.858055
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635,True,True,655.0,0.023997,0.030854,0.749809,0.858055
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635,True,True,655.0,0.026397,0.026740,0.749809,0.858055
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635,True,False,655.0,0.027083,0.021940,0.749809,0.858055
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635,True,True,655.0,0.027083,0.024340,0.749809,0.858055
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635,False,True,655.0,0.022969,0.029140,0.749809,0.858055
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635,True,True,655.0,0.030168,0.032225,0.749809,0.858055
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635,False,True,655.0,0.018855,0.030168,0.749809,0.858055
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635,True,True,655.0,0.025711,0.025369,0.749809,0.858055
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635,False,False,655.0,0.023654,0.021940,0.749809,0.858055
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635,True,True,655.0,0.027425,0.030511,0.749809,0.858055
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635,True,True,655.0,0.030511,0.031196,0.749809,0.858055
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635,True,True,655.0,0.026397,0.030854,0.749809,0.858055
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635,True,True,655.0,0.028797,0.033939,0.749809,0.858055
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635,False,True,655.0,0.023312,0.027768,0.749809,0.858055
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635,True,True,655.0,0.025026,0.029140,0.749809,0.858055
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635,True,True,655.0,0.023997,0.031539,0.749809,0.858055
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635,True,False,655.0,0.029140,0.021598,0.749809,0.858055
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635,False,True,655.0,0.019883,0.027425,0.749809,0.858055
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635,False,True,655.0,0.018855,0.025026,0.749809,0.858055
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635,True,True,655.0,0.030168,0.030854,0.749809,0.858055
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130,True,True,638.0,0.060550,0.046483,0.749809,0.858055
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130,True,True,638.0,0.056881,0.052599,0.749809,0.858055
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130,True,True,638.0,0.050765,0.058716,0.749809,0.858055
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130,True,True,638.0,0.056881,0.043425,0.749809,0.858055
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130,True,True,638.0,0.053211,0.047095,0.749809,0.858055
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130,True,True,638.0,0.045260,0.057492,0.749809,0.858055
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130,True,False,638.0,0.058104,0.042202,0.749809,0.858055
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130,True,True,638.0,0.049541,0.053823,0.749809,0.858055
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130,True,True,638.0,0.054434,0.054434,0.749809,0.858055
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130,True,True,638.0,0.056881,0.050153,0.749809,0.858055
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130,True,True,638.0,0.045872,0.048930,0.749809,0.858055
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130,True,True,638.0,0.044648,0.051376,0.749809,0.858055
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130,True,True,638.0,0.051376,0.059939,0.749809,0.858055
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130,True,True,638.0,0.045872,0.048930,0.749809,0.858055
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130,True,True,638.0,0.043425,0.055657,0.749809,0.858055
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130,True,True,638.0,0.059939,0.056269,0.749809,0.858055
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130,True,True,638.0,0.058104,0.048318,0.749809,0.858055
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130,True,True,638.0,0.057492,0.048318,0.749809,0.858055
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130,True,True,638.0,0.055046,0.053211,0.749809,0.858055
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130,True,True,638.0,0.044037,0.051988,0.749809,0.858055
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130,True,True,638.0,0.052599,0.054434,0.749809,0.858055
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130,True,True,638.0,0.051376,0.042813,0.749809,0.858055
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130,True,True,638.0,0.047095,0.057492,0.749809,0.858055
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130,True,True,638.0,0.045872,0.055046,0.749809,0.858055
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130,True,True,638.0,0.046483,0.059327,0.749809,0.858055
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,638.0,0.055046,0.060550,0.749809,0.858055
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True,638.0,0.042813,0.058104,0.749809,0.858055
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True,638.0,0.051376,0.044648,0.749809,0.858055
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,638.0,0.055046,0.060550,0.749809,0.858055
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True,638.0,0.045872,0.058104,0.749809,0.858055

In [76]:
school_data_complete["% Overall Passing Rate"]=\
    (school_data_complete['is_reading_passed'].mean()+\
     school_data_complete['is_math_passed'].mean()/2)
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,is_math_passed,is_reading_passed,Per Student Spending,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False,655.0,0.027083,0.022626,0.749809,0.858055,1.232959
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True,655.0,0.020912,0.032225,0.749809,0.858055,1.232959
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True,655.0,0.020569,0.030854,0.749809,0.858055,1.232959
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False,655.0,0.019883,0.022969,0.749809,0.858055,1.232959
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True,655.0,0.028797,0.033253,0.749809,0.858055,1.232959
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,True,True,655.0,0.032225,0.032225,0.749809,0.858055,1.232959
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,True,True,655.0,0.027425,0.028111,0.749809,0.858055,1.232959
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635,False,True,655.0,0.023654,0.032911,0.749809,0.858055,1.232959
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,True,True,655.0,0.029825,0.032568,0.749809,0.858055,1.232959
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635,True,True,655.0,0.028797,0.032911,0.749809,0.858055,1.232959
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635,True,True,655.0,0.023997,0.030854,0.749809,0.858055,1.232959
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635,True,True,655.0,0.026397,0.026740,0.749809,0.858055,1.232959
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635,True,False,655.0,0.027083,0.021940,0.749809,0.858055,1.232959
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635,True,True,655.0,0.027083,0.024340,0.749809,0.858055,1.232959
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635,False,True,655.0,0.022969,0.029140,0.749809,0.858055,1.232959
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635,True,True,655.0,0.030168,0.032225,0.749809,0.858055,1.232959
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635,False,True,655.0,0.018855,0.030168,0.749809,0.858055,1.232959
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635,True,True,655.0,0.025711,0.025369,0.749809,0.858055,1.232959
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635,False,False,655.0,0.023654,0.021940,0.749809,0.858055,1.232959
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635,True,True,655.0,0.027425,0.030511,0.749809,0.858055,1.232959
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635,True,True,655.0,0.030511,0.031196,0.749809,0.858055,1.232959
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635,True,True,655.0,0.026397,0.030854,0.749809,0.858055,1.232959
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635,True,True,655.0,0.028797,0.033939,0.749809,0.858055,1.232959
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635,False,True,655.0,0.023312,0.027768,0.749809,0.858055,1.232959
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635,True,True,655.0,0.025026,0.029140,0.749809,0.858055,1.232959
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635,True,True,655.0,0.023997,0.031539,0.749809,0.858055,1.232959
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635,True,False,655.0,0.029140,0.021598,0.749809,0.858055,1.232959
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635,False,True,655.0,0.019883,0.027425,0.749809,0.858055,1.232959
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635,False,True,655.0,0.018855,0.025026,0.749809,0.858055,1.232959
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635,True,True,655.0,0.030168,0.030854,0.749809,0.858055,1.232959
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130,True,True,638.0,0.060550,0.046483,0.749809,0.858055,1.232959
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130,True,True,638.0,0.056881,0.052599,0.749809,0.858055,1.232959
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130,True,True,638.0,0.050765,0.058716,0.749809,0.858055,1.232959
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130,True,True,638.0,0.056881,0.043425,0.749809,0.858055,1.232959
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130,True,True,638.0,0.053211,0.047095,0.749809,0.858055,1.232959
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130,True,True,638.0,0.045260,0.057492,0.749809,0.858055,1.232959
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130,True,False,638.0,0.058104,0.042202,0.749809,0.858055,1.232959
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130,True,True,638.0,0.049541,0.053823,0.749809,0.858055,1.232959
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130,True,True,638.0,0.054434,0.054434,0.749809,0.858055,1.232959
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130,True,True,638.0,0.056881,0.050153,0.749809,0.858055,1.232959
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130,True,True,638.0,0.045872,0.048930,0.749809,0.858055,1.232959
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130,True,True,638.0,0.044648,0.051376,0.749809,0.858055,1.232959
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130,True,True,638.0,0.051376,0.059939,0.749809,0.858055,1.232959
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130,True,True,638.0,0.045872,0.048930,0.749809,0.858055,1.232959
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130,True,True,638.0,0.043425,0.055657,0.749809,0.858055,1.232959
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130,True,True,638.0,0.059939,0.056269,0.749809,0.858055,1.232959
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130,True,True,638.0,0.058104,0.048318,0.749809,0.858055,1.232959
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130,True,True,638.0,0.057492,0.048318,0.749809,0.858055,1.232959
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130,True,True,638.0,0.055046,0.053211,0.749809,0.858055,1.232959
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130,True,True,638.0,0.044037,0.051988,0.749809,0.858055,1.232959
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130,True,True,638.0,0.052599,0.054434,0.749809,0.858055,1.232959
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130,True,True,638.0,0.051376,0.042813,0.749809,0.858055,1.232959
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130,True,True,638.0,0.047095,0.057492,0.749809,0.858055,1.232959
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130,True,True,638.0,0.045872,0.055046,0.749809,0.858055,1.232959
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130,True,True,638.0,0.046483,0.059327,0.749809,0.858055,1.232959
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,638.0,0.055046,0.060550,0.749809,0.858055,1.232959
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True,638.0,0.042813,0.058104,0.749809,0.858055,1.232959
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True,638.0,0.051376,0.044648,0.749809,0.858055,1.232959
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,638.0,0.055046,0.060550,0.749809,0.858055,1.232959
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True,638.0,0.045872,0.058104,0.749809,0.858055,1.232959

In [77]:
grouped_school_spending = school_data_complete
grouped_school_spending.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,is_math_passed,is_reading_passed,Per Student Spending,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False,655.0,0.027083,0.022626,0.749809,0.858055,1.232959
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True,655.0,0.020912,0.032225,0.749809,0.858055,1.232959
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True,655.0,0.020569,0.030854,0.749809,0.858055,1.232959
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False,655.0,0.019883,0.022969,0.749809,0.858055,1.232959
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True,655.0,0.028797,0.033253,0.749809,0.858055,1.232959

In [78]:
bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [79]:
grouped_school_spending["Spending Ranges Per Student"] = (grouped_school_spending['budget'] /\
    grouped_school_spending['size'])
grouped_school_spending.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,is_math_passed,is_reading_passed,Per Student Spending,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending Ranges Per Student
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False,655.0,0.027083,0.022626,0.749809,0.858055,1.232959,655.0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True,655.0,0.020912,0.032225,0.749809,0.858055,1.232959,655.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True,655.0,0.020569,0.030854,0.749809,0.858055,1.232959,655.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False,655.0,0.019883,0.022969,0.749809,0.858055,1.232959,655.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True,655.0,0.028797,0.033253,0.749809,0.858055,1.232959,655.0

In [80]:
grouped_school_spending["Spending Ranges Per Student"] = pd.cut(grouped_school_spending\
    ["Spending Ranges Per Student"],bins,labels=group_names)
grouped_school_spending

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,is_math_passed,is_reading_passed,Per Student Spending,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending Ranges Per Student
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False,655.0,0.027083,0.022626,0.749809,0.858055,1.232959,$645-675
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True,655.0,0.020912,0.032225,0.749809,0.858055,1.232959,$645-675
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True,655.0,0.020569,0.030854,0.749809,0.858055,1.232959,$645-675
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False,655.0,0.019883,0.022969,0.749809,0.858055,1.232959,$645-675
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True,655.0,0.028797,0.033253,0.749809,0.858055,1.232959,$645-675
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,True,True,655.0,0.032225,0.032225,0.749809,0.858055,1.232959,$645-675
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,True,True,655.0,0.027425,0.028111,0.749809,0.858055,1.232959,$645-675
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635,False,True,655.0,0.023654,0.032911,0.749809,0.858055,1.232959,$645-675
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,True,True,655.0,0.029825,0.032568,0.749809,0.858055,1.232959,$645-675
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635,True,True,655.0,0.028797,0.032911,0.749809,0.858055,1.232959,$645-675
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635,True,True,655.0,0.023997,0.030854,0.749809,0.858055,1.232959,$645-675
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635,True,True,655.0,0.026397,0.026740,0.749809,0.858055,1.232959,$645-675
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635,True,False,655.0,0.027083,0.021940,0.749809,0.858055,1.232959,$645-675
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635,True,True,655.0,0.027083,0.024340,0.749809,0.858055,1.232959,$645-675
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635,False,True,655.0,0.022969,0.029140,0.749809,0.858055,1.232959,$645-675
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635,True,True,655.0,0.030168,0.032225,0.749809,0.858055,1.232959,$645-675
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635,False,True,655.0,0.018855,0.030168,0.749809,0.858055,1.232959,$645-675
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635,True,True,655.0,0.025711,0.025369,0.749809,0.858055,1.232959,$645-675
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635,False,False,655.0,0.023654,0.021940,0.749809,0.858055,1.232959,$645-675
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635,True,True,655.0,0.027425,0.030511,0.749809,0.858055,1.232959,$645-675
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635,True,True,655.0,0.030511,0.031196,0.749809,0.858055,1.232959,$645-675
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635,True,True,655.0,0.026397,0.030854,0.749809,0.858055,1.232959,$645-675
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635,True,True,655.0,0.028797,0.033939,0.749809,0.858055,1.232959,$645-675
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635,False,True,655.0,0.023312,0.027768,0.749809,0.858055,1.232959,$645-675
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635,True,True,655.0,0.025026,0.029140,0.749809,0.858055,1.232959,$645-675
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635,True,True,655.0,0.023997,0.031539,0.749809,0.858055,1.232959,$645-675
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635,True,False,655.0,0.029140,0.021598,0.749809,0.858055,1.232959,$645-675
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635,False,True,655.0,0.019883,0.027425,0.749809,0.858055,1.232959,$645-675
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635,False,True,655.0,0.018855,0.025026,0.749809,0.858055,1.232959,$645-675
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635,True,True,655.0,0.030168,0.030854,0.749809,0.858055,1.232959,$645-675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130,True,True,638.0,0.060550,0.046483,0.749809,0.858055,1.232959,$615-645
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130,True,True,638.0,0.056881,0.052599,0.749809,0.858055,1.232959,$615-645
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130,True,True,638.0,0.050765,0.058716,0.749809,0.858055,1.232959,$615-645
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130,True,True,638.0,0.056881,0.043425,0.749809,0.858055,1.232959,$615-645
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130,True,True,638.0,0.053211,0.047095,0.749809,0.858055,1.232959,$615-645
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130,True,True,638.0,0.045260,0.057492,0.749809,0.858055,1.232959,$615-645
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130,True,False,638.0,0.058104,0.042202,0.749809,0.858055,1.232959,$615-645
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130,True,True,638.0,0.049541,0.053823,0.749809,0.858055,1.232959,$615-645
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130,True,True,638.0,0.054434,0.054434,0.749809,0.858055,1.232959,$615-645
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130,True,True,638.0,0.056881,0.050153,0.749809,0.858055,1.232959,$615-645
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130,True,True,638.0,0.045872,0.048930,0.749809,0.858055,1.232959,$615-645
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130,True,True,638.0,0.044648,0.051376,0.749809,0.858055,1.232959,$615-645
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130,True,True,638.0,0.051376,0.059939,0.749809,0.858055,1.232959,$615-645
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130,True,True,638.0,0.045872,0.048930,0.749809,0.858055,1.232959,$615-645
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130,True,True,638.0,0.043425,0.055657,0.749809,0.858055,1.232959,$615-645
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130,True,True,638.0,0.059939,0.056269,0.749809,0.858055,1.232959,$615-645
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130,True,True,638.0,0.058104,0.048318,0.749809,0.858055,1.232959,$615-645
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130,True,True,638.0,0.057492,0.048318,0.749809,0.858055,1.232959,$615-645
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130,True,True,638.0,0.055046,0.053211,0.749809,0.858055,1.232959,$615-645
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130,True,True,638.0,0.044037,0.051988,0.749809,0.858055,1.232959,$615-645
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130,True,True,638.0,0.052599,0.054434,0.749809,0.858055,1.232959,$615-645
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130,True,True,638.0,0.051376,0.042813,0.749809,0.858055,1.232959,$615-645
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130,True,True,638.0,0.047095,0.057492,0.749809,0.858055,1.232959,$615-645
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130,True,True,638.0,0.045872,0.055046,0.749809,0.858055,1.232959,$615-645
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130,True,True,638.0,0.046483,0.059327,0.749809,0.858055,1.232959,$615-645
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,638.0,0.055046,0.060550,0.749809,0.858055,1.232959,$615-645
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True,638.0,0.042813,0.058104,0.749809,0.858055,1.232959,$615-645
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True,638.0,0.051376,0.044648,0.749809,0.858055,1.232959,$615-645
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,638.0,0.055046,0.060550,0.749809,0.858055,1.232959,$615-645
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True,638.0,0.045872,0.058104,0.749809,0.858055,1.232959,$615-645

In [81]:
grouped_school_data_spending = grouped_school_spending.loc\
    [:,["is_math_passed","is_reading_passed","Average Math Score","Average Reading Score",\
    "Spending Ranges Per Student"]].groupby("Spending Ranges Per Student")
grouped_mean = grouped_school_data_spending.mean()
grouped_mean["% Overall Passing Rate"] =(grouped_mean.loc[:,"is_math_passed"]+grouped_mean.loc\
    [:,"is_reading_passed"])/2
grouped_mean

,is_math_passed,is_reading_passed,Average Math Score,Average Reading Score,% Overall Passing Rate
Spending Ranges Per Student,,,,,
<$585,0.937029,0.966866,0.052422,0.052722,0.951947
$585-615,0.941241,0.958869,0.061403,0.061612,0.950055
$615-645,0.714004,0.836148,0.026707,0.027657,0.775076
$645-675,0.662308,0.811094,0.018760,0.019742,0.736701

Scores by School Spending:

In [82]:
grouped_mean = grouped_mean.rename(columns={'is_math_passed':'% Passing Math',\
    'is_reading_passed':'% Passing Reading','size':'School Size'})
(grouped_mean * 100).apply(round)

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,% Overall Passing Rate
Spending Ranges Per Student,,,,,
<$585,94.0,97.0,5.0,5.0,95.0
$585-615,94.0,96.0,6.0,6.0,95.0
$615-645,71.0,84.0,3.0,3.0,78.0
$645-675,66.0,81.0,2.0,2.0,74.0

In [83]:
grouped_school_size = school_data_complete
grouped_school_size.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,is_math_passed,is_reading_passed,Per Student Spending,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending Ranges Per Student
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False,655.0,0.027083,0.022626,0.749809,0.858055,1.232959,$645-675
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True,655.0,0.020912,0.032225,0.749809,0.858055,1.232959,$645-675
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True,655.0,0.020569,0.030854,0.749809,0.858055,1.232959,$645-675
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False,655.0,0.019883,0.022969,0.749809,0.858055,1.232959,$645-675
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True,655.0,0.028797,0.033253,0.749809,0.858055,1.232959,$645-675

In [84]:
bins = [0, 1000, 2000, 5000]
group_names_size = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [85]:
grouped_school_size["size"] = pd.cut(grouped_school_size["size"],bins,labels=group_names_size)
grouped_school_size

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,is_math_passed,is_reading_passed,Per Student Spending,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending Ranges Per Student
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,Large (2000-5000),1910635,True,False,655.0,0.027083,0.022626,0.749809,0.858055,1.232959,$645-675
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,Large (2000-5000),1910635,False,True,655.0,0.020912,0.032225,0.749809,0.858055,1.232959,$645-675
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,Large (2000-5000),1910635,False,True,655.0,0.020569,0.030854,0.749809,0.858055,1.232959,$645-675
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,Large (2000-5000),1910635,False,False,655.0,0.019883,0.022969,0.749809,0.858055,1.232959,$645-675
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,Large (2000-5000),1910635,True,True,655.0,0.028797,0.033253,0.749809,0.858055,1.232959,$645-675
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,Large (2000-5000),1910635,True,True,655.0,0.032225,0.032225,0.749809,0.858055,1.232959,$645-675
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,Large (2000-5000),1910635,True,True,655.0,0.027425,0.028111,0.749809,0.858055,1.232959,$645-675
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,Large (2000-5000),1910635,False,True,655.0,0.023654,0.032911,0.749809,0.858055,1.232959,$645-675
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,Large (2000-5000),1910635,True,True,655.0,0.029825,0.032568,0.749809,0.858055,1.232959,$645-675
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,Large (2000-5000),1910635,True,True,655.0,0.028797,0.032911,0.749809,0.858055,1.232959,$645-675
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,Large (2000-5000),1910635,True,True,655.0,0.023997,0.030854,0.749809,0.858055,1.232959,$645-675
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,Large (2000-5000),1910635,True,True,655.0,0.026397,0.026740,0.749809,0.858055,1.232959,$645-675
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,Large (2000-5000),1910635,True,False,655.0,0.027083,0.021940,0.749809,0.858055,1.232959,$645-675
13,13,William Long,M,9th,Huang High School,71,79,0,District,Large (2000-5000),1910635,True,True,655.0,0.027083,0.024340,0.749809,0.858055,1.232959,$645-675
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,Large (2000-5000),1910635,False,True,655.0,0.022969,0.029140,0.749809,0.858055,1.232959,$645-675
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,Large (2000-5000),1910635,True,True,655.0,0.030168,0.032225,0.749809,0.858055,1.232959,$645-675
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,Large (2000-5000),1910635,False,True,655.0,0.018855,0.030168,0.749809,0.858055,1.232959,$645-675
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,Large (2000-5000),1910635,True,True,655.0,0.025711,0.025369,0.749809,0.858055,1.232959,$645-675
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,Large (2000-5000),1910635,False,False,655.0,0.023654,0.021940,0.749809,0.858055,1.232959,$645-675
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,Large (2000-5000),1910635,True,True,655.0,0.027425,0.030511,0.749809,0.858055,1.232959,$645-675
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,Large (2000-5000),1910635,True,True,655.0,0.030511,0.031196,0.749809,0.858055,1.232959,$645-675
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,Large (2000-5000),1910635,True,True,655.0,0.026397,0.030854,0.749809,0.858055,1.232959,$645-675
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,Large (2000-5000),1910635,True,True,655.0,0.028797,0.033939,0.749809,0.858055,1.232959,$645-675
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,Large (2000-5000),1910635,False,True,655.0,0.023312,0.027768,0.749809,0.858055,1.232959,$645-675
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,Large (2000-5000),1910635,True,True,655.0,0.025026,0.029140,0.749809,0.858055,1.232959,$645-675
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,Large (2000-5000),1910635,True,True,655.0,0.023997,0.031539,0.749809,0.858055,1.232959,$645-675
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,Large (2000-5000),1910635,True,False,655.0,0.029140,0.021598,0.749809,0.858055,1.232959,$645-675
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,Large (2000-5000),1910635,False,True,655.0,0.019883,0.027425,0.749809,0.858055,1.232959,$645-675
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,Large (2000-5000),1910635,False,True,655.0,0.018855,0.025026,0.749809,0.858055,1.232959,$645-675
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,Large (2000-5000),1910635,True,True,655.0,0.030168,0.030854,0.749809,0.858055,1.232959,$645-675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.060550,0.046483,0.749809,0.858055,1.232959,$615-645
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.056881,0.052599,0.749809,0.858055,1.232959,$615-645
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.050765,0.058716,0.749809,0.858055,1.232959,$615-645
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.056881,0.043425,0.749809,0.858055,1.232959,$615-645
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.053211,0.047095,0.749809,0.858055,1.232959,$615-645
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.045260,0.057492,0.749809,0.858055,1.232959,$615-645
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,Medium (1000-2000),1043130,True,False,638.0,0.058104,0.042202,0.749809,0.858055,1.232959,$615-645
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.049541,0.053823,0.749809,0.858055,1.232959,$615-645
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.054434,0.054434,0.749809,0.858055,1.232959,$615-645
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.056881,0.050153,0.749809,0.858055,1.232959,$615-645
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.045872,0.048930,0.749809,0.858055,1.232959,$615-645
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.044648,0.051376,0.749809,0.858055,1.232959,$615-645
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.051376,0.059939,0.749809,0.858055,1.232959,$615-645
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.045872,0.048930,0.749809,0.858055,1.232959,$615-645
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.043425,0.055657,0.749809,0.858055,1.232959,$615-645
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.059939,0.056269,0.749809,0.858055,1.232959,$615-645
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.058104,0.048318,0.749809,0.858055,1.232959,$615-645
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.057492,0.048318,0.749809,0.858055,1.232959,$615-645
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.055046,0.053211,0.749809,0.858055,1.232959,$615-645
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.044037,0.051988,0.749809,0.858055,1.232959,$615-645
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.052599,0.054434,0.749809,0.858055,1.232959,$615-645
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.051376,0.042813,0.749809,0.858055,1.232959,$615-645
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.047095,0.057492,0.749809,0.858055,1.232959,$615-645
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.045872,0.055046,0.749809,0.858055,1.232959,$615-645
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.046483,0.059327,0.749809,0.858055,1.232959,$615-645
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.055046,0.060550,0.749809,0.858055,1.232959,$615-645
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.042813,0.058104,0.749809,0.858055,1.232959,$615-645
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.051376,0.044648,0.749809,0.858055,1.232959,$615-645
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.055046,0.060550,0.749809,0.858055,1.232959,$615-645
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,Medium (1000-2000),1043130,True,True,638.0,0.045872,0.058104,0.749809,0.858055,1.232959,$615-645

In [86]:
grouped_school_data_size = grouped_school_size.loc\
    [:,["is_math_passed","is_reading_passed","Average Math Score","Average Reading Score",\
        "size"]].groupby("size")
grouped_size_mean = grouped_school_data_size.mean()
grouped_size_mean["% Overall Passing Rate"] = (grouped_size_mean.loc[:,"is_math_passed"] + \
    grouped_size_mean.loc[:,"is_reading_passed"])/2
grouped_size_mean

,is_math_passed,is_reading_passed,Average Math Score,Average Reading Score,% Overall Passing Rate
size,,,,,
Small (<1000),0.939525,0.960403,0.120693,0.120849,0.949964
Medium (1000-2000),0.936165,0.967731,0.048917,0.049205,0.951948
Large (2000-5000),0.686524,0.821252,0.021257,0.022241,0.753888

Scores by School Size:

In [87]:
grouped_size_mean = grouped_size_mean.rename(columns={'is_math_passed':'% Passing Math',\
    'is_reading_passed':'% Passing Reading','size':'School Size'})
(grouped_size_mean * 100)

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,% Overall Passing Rate
size,,,,,
Small (<1000),93.952484,96.040317,12.069345,12.084931,94.996400
Medium (1000-2000),93.616522,96.773058,4.891732,4.920467,95.194790
Large (2000-5000),68.652380,82.125158,2.125744,2.224122,75.388769

In [88]:
grouped_type = school_data_complete
grouped_type.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,is_math_passed,is_reading_passed,Per Student Spending,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending Ranges Per Student
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,Large (2000-5000),1910635,True,False,655.0,0.027083,0.022626,0.749809,0.858055,1.232959,$645-675
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,Large (2000-5000),1910635,False,True,655.0,0.020912,0.032225,0.749809,0.858055,1.232959,$645-675
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,Large (2000-5000),1910635,False,True,655.0,0.020569,0.030854,0.749809,0.858055,1.232959,$645-675
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,Large (2000-5000),1910635,False,False,655.0,0.019883,0.022969,0.749809,0.858055,1.232959,$645-675
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,Large (2000-5000),1910635,True,True,655.0,0.028797,0.033253,0.749809,0.858055,1.232959,$645-675

In [89]:
grouped_type = grouped_type.loc[:,["is_math_passed","is_reading_passed","Average Math Score",\
    "Average Reading Score","type"]].groupby("type")
type_mean = grouped_type.mean()
type_mean["% Overall Passing Rate"] = (type_mean.loc[:,"is_math_passed"] +\
    type_mean.loc[:,"is_reading_passed"])/2
type_mean

,is_math_passed,is_reading_passed,Average Math Score,Average Reading Score,% Overall Passing Rate
type,,,,,
Charter,0.937018,0.966459,0.054764,0.055041,0.951739
District,0.665184,0.809052,0.019969,0.021010,0.737118

Scores by School Type:

In [90]:
type_mean = type_mean.rename(columns={'is_math_passed':'% Passing Math',\
    'is_reading_passed':'% Passing Reading','type':'School Type'})
type_mean *100

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,% Overall Passing Rate
type,,,,,
Charter,93.701821,96.645891,5.476389,5.504112,95.173856
District,66.518387,80.905249,1.996950,2.101003,73.711818